<div class="gv-block gv-page-width">
  <div class="gv-right-column">
    <div class='container-badge'>
      <div class="badge">

      <div class="badge__label">
        The Inequality Project is supported by
      </div>
      <a class="badge__link" href="https://www.fordfoundation.org/" data-sponsor="ford foundation" rel="nofollow">

          <img src="https://interactive.guim.co.uk/2017/11/tower_videos/ford-logo.png" alt="Ford Foundation" class="badge__logo">

      </a>
          <a href="https://www.theguardian.com/inequality/2017/apr/25/inequality-project-guardian-in-depth-look-unequal-world-equality" class="badge__help">About this content</a>
      </div>
    </div>
  </div>
</div>
