<div class="gv-block gv-page-width">
  <div class="gv-main-column gv-standfirst">
    <p>{{{block.copy}}}</p>
  </div>
  <div class="gv-left-column gv-meta-container">
    <!-- <div class="gv-byline">
      <a href="https://www.theguardian.com/profile/jonathanwatts">Jonathan Watts</a>
    </div> -->
    <div class="gv-byline">
      <a href="https://www.theguardian.com/profile/jonathanwatts">Jonathan Watts</a>
      </div>
    <div class="gv-share">
      <button class="interactive-share" data-network="facebook"></button>
      <button class="interactive-share" data-network="twitter"></button>
      <button class="interactive-share" data-network="email"></button>
    </div>
    <div class="gv-timestamp-label">Mon 1 Jul 2019 10:00 BST</div>
    <div class='container-badge'>
      <div class="badge">
      <div class="badge__label">
        Seascape: the state of our oceans is supported by
      </div>
      <a class="badge_image" href="https://www.packard.org/">
        <img src="<%= path %>/assets/seascape.png" />
      </a>
          <a href="https://www.theguardian.com/environment/2018/sep/16/about-seascape-the-state-of-our-oceans-a-guardian-series" class="badge__help">About this content</a>
      </div>
    </div>
  </div>
</div>
