.interactive-atom {

  .video-wrapper {

    padding-bottom: inherit;
  }

  .header-grid-wrapper {

    .grid-main {
      width: 348px;
      padding-left: 120px;
      margin-top: 204px;
      @include mq(mobileLandscape) {
        padding-left: 110px;
      }
      @include mq(desktop) {
        padding-left: 0px;
        width: 620px;
      }
    }
    .visual-element--image {
      margin-left: inherit;
      display: block;
    }
    .grid-portrait {
      position: absolute;
      width: 154px;
      height: 154px;
      @include mq(desktop) {
        width: 220px;
        height: 220px;
      }
    }
    .grid-landscape {
      position: absolute;
    }

    .grid-2 {
      top: -78px;
      left: -198px;
      @include mq(desktop) {
          top: -56px;
          left: -140px;
      }
      @include mq(wide) {
        left: -60px;
      }
    }
    .grid-3 {
      top: -40px;
      left: -34px;
      @include mq(desktop) {
          top: 184px;
          left: -60px;
      }
      @include mq(wide) {
        left: 20px;
      }
    }
    .grid-4 {
      width: 228px;
      top: -148px;
      left: 204px;
      @include mq(desktop) {
        width: 380px;
        top: -248px;
        left: 340px;
      }
      @include mq(wide) {
        left: 420px;
      }
    }
    .grid-5 {
      top: -204px;
      left: 40px;
      @include mq(desktop) {
        top: -126px;
        left: 820px;
      }
      @include mq(wide) {
        left: 900px;
      }
    }
    .grid-6 {
      width: 228px;
      left: 488px;
      top: 80px;
      @include mq(desktop) {
        width: 486px;
        left: 820px;
        top: 114px;
      }
      @include mq(wide) {
        left: 900px;
      }
    }

    // .visual-image {
    //     z-index: 0;
    //     background-color: #333;
    //     margin: 0 auto;
    //     max-width: 620px;
    //     margin-top: 180px;
    //     border: none;
    //
    //     picture {
    //         max-height: 100%;
    //         max-width: 100%;
    //         object-fit:contain;
    //         width: 100%;
    //     }
    // }

    // Animation
    .header-svg-mobile {
      svg {
        position: absolute;
        display: block;
        z-index: 10000;
        left: -30px;
        bottom: -185px;
        @include mq(mobileMedium) {
        bottom: -195px;
        left: 5px;
        }
        @include mq(mobileLandscape) {
        left: 15px;
        }
        @include mq(tablet) {
          display: none;
        }
      }
    }

    .header-svg-tablet {
      svg {
        position: absolute;
        display: none;
        z-index: 10000;
        @include mq(tablet) {
          display: block;
          bottom: -213px;
          left: 5px;
        }
        @include mq(desktop) {
          display: none;
        }
        @include mq(leftCol) {
          display: none;
        }
      }
    }

    .header-svg-desktop {
      svg {
        position: absolute;
        display: none;
        z-index: 10000;
        @include mq(desktop) {
          display: block;
          top: -227px;
          left: 76px;
        }
        @include mq(wide) {
          top: -227px;
          left: 156px;
        }
      }
    }

    .path {

      stroke-dasharray: 2000;
      stroke-dashoffset: 2000;
      animation: dash 10s linear forwards;
      animation-delay: 2s;
  }

  @keyframes dash {
    to {
      stroke-dashoffset: 0;
    }
  }



  }





  // .grid-wrapper {
  //   display: flex;
  //   flex-flow: row wrap;
  //   overflow: hidden;
  //
  //   margin-bottom: 24px;
  //
  //   img, video {
  //     min-width: 100%;
  //     min-height: 100%;
  //     object-position: 50% 50%;
  //     object-fit: cover;
  //   }
  //
  //   .visual-element--image, .visual-element--grid {
  //     height: 100%;
  //
  //     .visual-image {
  //       height: 100%;
  //       width: 100%;
  //     }
  //   }
  //
  //   .visual-element--video {
  //     margin-bottom: 0 !important;
  //   }
  //
  // }
  //
  // // .grid-wrapper > * {
  // //   flex: 1 1 100%;
  // //   outline: 4px solid #EAEAEA;
  // //   box-sizing: border-box;
  // //   background-color: #000;
  // //
  // //   @include mq($from: desktop) {
  // //     position: relative;
  // //   }
  // //
  // // }
  //
  //
  // .grid-layout-1 {
  //   .grid-video {
  //     display: none;
  //   }
  //
  //   .grid-image-1 {
  //     order: 5;
  //   }
  //
  //   .grid-image-portrait {
  //     flex: 1 1 50%;
  //     height: 190px;
  //
  //     @include mq($from: mobileLandscape) {
  //       height: initial;
  //     }
  //   }
  //
  //   @include mq($from: tablet) {
  //
  //     .grid-image-1   {
  //       order: 3;
  //       flex: 1 1 40%;
  //       height: 200px;
  //     }
  //
  //     .grid-image-2    {
  //       order: 1;
  //     }
  //
  //     .grid-image-3   {
  //       order: 4;
  //     }
  //
  //     .grid-image-4    {
  //       order: 5;
  //     }
  //
  //     .grid-image-portrait {
  //       flex: 1 1 30%;
  //       height: 200px;
  //     }
  //   }
  //
  //   @include mq($from: desktop) {
  //     .grid-video    {
  //       display: flex;
  //       order: 2;
  //       flex: 1 1 60%;
  //       height: 100%;
  //     }
  //     .grid-image-1   {
  //       order: 1;
  //       flex: 1 1 40%;
  //       height: 330px;
  //     }
  //     .grid-image-2    {
  //       order: 3;
  //       flex: 1 1 50%;
  //       height: 100%;
  //     }
  //     .grid-image-portrait {
  //       order: 5;
  //       flex: 1 1 25%;
  //       height: 275px;
  //     }
  //   }
  //
  //   @include mq($from: leftCol) {
  //     .grid-video    {
  //       flex: 1 1 60%;
  //       height: 100%;
  //     }
  //     .grid-image-1   {
  //       order: 1;
  //       flex: 1 1 40%;
  //       height: 384px;
  //     }
  //     .grid-image-2    {
  //       order: 3;
  //       flex: 1 1 50%;
  //       height: 100%;
  //     }
  //     .grid-image-portrait {
  //       order: 5;
  //       flex: 1 1 25%;
  //       height: 320px;
  //     }
  //   }
  //
  //
  //   @include mq($from: wide) {
  //     .grid-video    {
  //       flex: 1 1 800px;
  //       height: 446px;
  //     }
  //     .grid-image-1   {
  //       order: 1;
  //       flex: 1 1 500px;
  //       height: 446px;
  //     }
  //     .grid-image-2    {
  //       order: 3;
  //       flex: 1 1 640px;
  //       height: 364px;
  //     }
  //     .grid-image-portrait {
  //       flex: 1 1 330px;
  //       height: 364px;
  //     }
  //   }
  // }
  //
  //
  //
  //
  //
  // .grid-layout-2 {
  //   .grid-video {
  //     display: none;
  //   }
  //
  //   .grid-image-1 {
  //     order: 2;
  //   }
  //
  //   .grid-image-2 {
  //     order: 1;
  //   }
  //
  //   .grid-image-portrait {
  //     flex: 1 1 50%;
  //     height: 190px;
  //
  //     @include mq($from: mobileLandscape) {
  //       height: initial;
  //     }
  //
  //   }
  //
  //
  //   @include mq($from: tablet) {
  //
  //     .grid-image-1   {
  //       order: 3;
  //       flex: 1 1 40%;
  //       height: 200px;
  //     }
  //
  //     .grid-image-2    {
  //       order: 1;
  //       z-index: 999;
  //     }
  //
  //     .grid-image-3   {
  //       order: 4;
  //     }
  //
  //     .grid-image-4    {
  //       order: 5;
  //     }
  //
  //     .grid-image-portrait {
  //       flex: 1 1 30%;
  //       height: 200px;
  //     }
  //   }
  //
  //   @include mq($from: desktop) {
  //     .grid-video    {
  //       display: flex;
  //       order: 3;
  //       flex: 1 1 50%;
  //       height: 100%;
  //     }
  //     .grid-image-1   {
  //       order: 1;
  //       flex: 1 1 40%;
  //       height: 330px;
  //     }
  //     .grid-image-2    {
  //       order: 2;
  //       flex: 1 1 60%;
  //       height: 100%;
  //     }
  //     .grid-image-portrait {
  //       order: 5;
  //       flex: 1 1 25%;
  //       height: 275px;
  //     }
  //   }
  //
  //   @include mq($from: leftCol) {
  //     .grid-video    {
  //       flex: 1 1 50%;
  //       height: 100%;
  //     }
  //     .grid-image-1   {
  //       flex: 1 1 40%;
  //       height: 384px;
  //     }
  //     .grid-image-2    {
  //       flex: 1 1 60%;
  //       height: 100%;
  //     }
  //     .grid-image-portrait {
  //       flex: 1 1 25%;
  //       height: 320px;
  //     }
  //   }
  //
  //
  //   @include mq($from: wide) {
  //     .grid-video    {
  //       flex: 1 1 50%;
  //       height: 364px;
  //     }
  //     .grid-image-1   {
  //       flex: 1 1 50%;
  //       height: 364px;
  //     }
  //     .grid-image-2    {
  //       flex: 1 1 50%;
  //       height: 364px;
  //     }
  //     .grid-image-portrait {
  //       flex: 1 1 25%;
  //       height: 364px;
  //     }
  //   }
  // }
  //
  // .grid-layout-portrait {
  //   display: block;
  //   margin-top: 48px;
  //   overflow: visible;
  //
  //   @include mq($from: leftCol) {
  //     display: grid;
  //     position:relative;
  //     grid-template-columns: 540px 540px 540px 540px 540px;
  //     .grid-image-portrait {
  //       // width: 540px;
  //       // height: 100%;
  //       margin-right: 20px;
  //     }
  //
  //   }
  // }

}
