.interactive-atom {

  .video-wrapper {

    padding-bottom: inherit;
  }

  .header-grid-wrapper {
        // 
        // .grid-main {
        //   background: url('<%= path %>/assets/2000.jpg') no-repeat center center fixed;
        //   background-size: cover;
        // }
    // .grid-main {
    //   width: 348px;
    //   padding-left: 120px;
    //   margin-top: 204px;
    //   @include mq(mobileLandscape) {
    //     padding-left: 110px;
    //   }
    //   @include mq(desktop) {
    //     padding-left: 0px;
    //     width: 620px;
    //   }
    // }
    // .visual-element--image {
    //   margin-left: inherit;
    //   display: block;
    // }
    // .grid-portrait {
    //   position: absolute;
    //   width: 154px;
    //   height: 154px;
    //   @include mq(desktop) {
    //     width: 220px;
    //     height: 220px;
    //   }
    // }
    // .grid-landscape {
    //   position: absolute;
    // }
    //
    // .grid-2 {
    //   top: -78px;
    //   left: -198px;
    //   @include mq(desktop) {
    //       top: -56px;
    //       left: -140px;
    //   }
    //   @include mq(wide) {
    //     left: -60px;
    //   }
    // }
    // .grid-3 {
    //   top: -40px;
    //   left: -34px;
    //   @include mq(desktop) {
    //       top: 184px;
    //       left: -60px;
    //   }
    //   @include mq(wide) {
    //     left: 20px;
    //   }
    // }
    // .grid-4 {
    //   width: 228px;
    //   top: -148px;
    //   left: 204px;
    //   @include mq(desktop) {
    //     width: 380px;
    //     top: -248px;
    //     left: 340px;
    //   }
    //   @include mq(wide) {
    //     left: 420px;
    //   }
    // }
    // .grid-5 {
    //   top: -204px;
    //   left: 40px;
    //   @include mq(desktop) {
    //     top: -126px;
    //     left: 820px;
    //   }
    //   @include mq(wide) {
    //     left: 900px;
    //   }
    // }
    // .grid-6 {
    //   width: 228px;
    //   left: 488px;
    //   top: 80px;
    //   @include mq(desktop) {
    //     width: 486px;
    //     left: 820px;
    //     top: 114px;
    //   }
    //   @include mq(wide) {
    //     left: 900px;
    //   }
    // }


    // Animation
    .header-svg-mobile {
      svg {
        position: absolute;
        display: block;
        z-index: 10000;
        left: -30px;
        bottom: -185px;
        @include mq(mobileMedium) {
        bottom: -195px;
        left: 5px;
        }
        @include mq(mobileLandscape) {
        left: 15px;
        }
        @include mq(tablet) {
          display: none;
        }
      }
    }

    .header-svg-tablet {
      svg {
        position: absolute;
        display: none;
        z-index: 10000;
        @include mq(tablet) {
          display: block;
          bottom: -213px;
          left: 5px;
        }
        @include mq(desktop) {
          display: none;
        }
        @include mq(leftCol) {
          display: none;
        }
      }
    }

    .header-svg-desktop {
      svg {
        position: absolute;
        display: none;
        z-index: 10000;
        @include mq(desktop) {
          display: block;
          top: -227px;
          left: 76px;
        }
        @include mq(wide) {
          top: -227px;
          left: 156px;
        }
      }
    }

    .path {

      stroke-dasharray: 2000;
      stroke-dashoffset: 2000;
      animation: dash 10s linear forwards;
      animation-delay: 2s;
  }

  @keyframes dash {
    to {
      stroke-dashoffset: 0;
    }
  }



  }

}
