<div class="gv-block gv-page-width gv-subheader-container {{block.class}}">
  <div class="gv-subheader">
    <h2>{{block.copy}}</h2>
    <div class="gv-subheader-map">
      <object class="desktop" data="<%= path %>{{block.mapUrl}}" type="image/jpg"></object>
      <object class="mobile" data="<%= path %>{{block.mobmapUrl}}" type="image/jpg"></object>
    </div>
    <!-- <div class="gv-subheader-logo {{block.class}}">
      <img class="desktop" src="<%= path %>/{{block.logoUrl}}">
      <img class="mobile" src="<%= path %>/{{block.mobileUrl}}">
    </div> -->
  </div>
</div>
