.gv-subheader:first-child {
  padding-top: 0px;
}

// .interactive-atom div.gv-subheader-parent {
//   padding-top: 28px;
// }

.no-padding  {
  padding-top: 0px !important;
  @include mq(desktop) {
    padding-top: 12px !important;
  }
}

.gv-subheader {
  //@include mq(mobileLandscape) {

  float: left;
   width: 40%;
          max-width: 250px!important;

          &:after {
  content: "";
  display: table;
  clear: both;
//}
}

@include mq(desktop) {

  float: none;
   width: auto;
          max-width: none!important;
          &:after {
  content: "";
  display: none;
  clear: none;
}
}


}

.gv-subheader-container + .gv-copy {



   //@include mq(mobileLandscape) {

  margin-top: 65px!important;
//}

  @include mq(desktop) {

 margin-top: 0!important;
}

}


.gv-subheader {
  padding-left: 10px;
  //padding-right: 10px;
  margin-right: 0px!important;
  position: relative;
  z-index: 1;
  @include mq(mobileLandscape) {


  }
  h2 {
    @include fs-titlepiece(3);
    color: $news-red;
    font-size: 32px;
    line-height: 32px;
    font-weight: 600;
    padding-top: 16px;
    padding-bottom: 12px;
    margin: 0;
    margin-left: -10px;
    width: 180%;
    //position: absolute;
    //top: 0;
    //left: 10px;
     //white-space: nowrap;
    @include mq(mobileLandscape) {
         //margin-left: 10px;
    }
     @include mq(desktop) {
         //margin-left: 0;
         //white-space: normal;
         //position: static;
        //top: auto;
        //left: auto;
        //width: 100px;

    }
    @include mq(leftCol) {
        font-size: 38px;
        line-height: 44px;
        //margin-bottom: -20px;
    }
  }



  @include mq(mobileMedium) {
    // height: 140px;
  }

}




// .gv-subheader-container:nth-of-type(4) {

//     .gv-subheader-map {
//          @include mq($from: desktop) {

//     top: 90px;

//     }
//       @include mq($from: leftCol) {

//     top: 64px;

//     }
//   }

//   h2 {
//      @include mq($from: leftCol) {
//           white-space: nowrap;
//         }
//   }

// }

// .gv-subheader-container:nth-of-type(12) {

// .gv-subheader {

// width: auto;
// max-width: none;

//   h2 {
//      position: relative;
//      white-space: normal;
//      left: 0;
//      margin-bottom: 10px;

//      @include mq($from: desktop) {

//     white-space: nowrap;

//     }
//   }

//   }

// }

// This could be and should be written better //

    .gv-subheader-container:nth-of-type(3) {
      @include mq(leftCol) {
        h2 {
          width: 140px;
          //margin-bottom: -95px;
        }
        object, img {
          margin-top: 54px;
        }
      @include mq(wide) {
        h2 {
          width: 100%;
          //margin-bottom: -51px;
        }
        object, img {
          margin-top: 12px;
        }
      }
    }
  }
  .gv-subheader-container:nth-of-type(22) {
    @include mq(leftCol) {
      h2 {
        width: 140px;
        //margin-bottom: -95px;
      }
    @include mq(wide) {
      h2 {
        width: 100%;
        //margin-bottom: -51px;
      }
    }
  }
}



.gv-subheader-container {
    position: relative;
    background-image: -webkit-repeating-linear-gradient(top, $neutral-86, $neutral-86 0.0625rem, transparent 0.0625rem, transparent 0.25rem);
    background-image: repeating-linear-gradient(to bottom, $neutral-86, $neutral-86 0.0625rem, transparent 0.0625rem, transparent 0.25rem);
    background-repeat: repeat-x;
    background-position: top;
    -webkit-background-size: 1px 13px;
    background-size: 1px 13px;
    padding: 16px 0 32px 0;
    display: block;
    padding-left: 10px;
    padding-right: 10px;

    &::before {
      background-image: -webkit-repeating-linear-gradient(top, $neutral-86, $neutral-86 0.0625rem, transparent 0.0625rem, transparent 0.25rem);
      background-image: repeating-linear-gradient(to bottom, $neutral-86, $neutral-86 0.0625rem, transparent 0.0625rem, transparent 0.25rem);
      content: "";
      display: block;
      height: 13px;
      width: 200vw;
      left: -100vw;
      position: absolute;
      z-index: -20;
      // top: 0px;

    }

    @include mq(tablet) {
      margin-top: 10px;
      margin-left: 0px;
    }

    @include mq(leftCol) {
      padding-left: 0px;
      padding-right: 0px;
    }
}

.gv-subheader-marker {

  img {
    position: absolute;
    left: -10px;
    top: 12px;
    @include mq(leftCol) {
    position: absolute;
    left: -16px;
    top: -36px;
    }
  }

}

.gv-subheader-map {
  position: relative;
  top: 0px;
  padding-bottom: 6px;
  margin-left: -10px;

  //padding-top: 70px;

  object, img {
    max-width: 90%;

  //    @include mq(mobileLandscape) {
  //        max-width: 90%;
  // }
  }

  object.desktop, img.desktop {
    display: none;
  }

  @include mq($from: mobileLandscape) {
    // left: 20px;
    max-width: 480px;
  }

  @include mq($from: desktop) {
    position: absolute;
    left: 0px;
    top: 20px;
    padding-top: 0;
    margin-left: -170px;

    object.mobile, img.mobile {
      display: none;
    }

    object.desktop, img.desktop {
      display: block;
      max-width: 160px;
    }

  }
  @include mq($from: leftCol) {
    object.desktop, img.desktop {
      max-width: 150px;

    }

  }

  @include mq($from: wide) {
    left: 0px;
     margin-left: -260px;

    object.desktop, img.desktop {
      max-width: 240px;
    }

  }

}
