.gv-subheader:first-child {
  padding-top: 0px;
}

// .interactive-atom div.gv-subheader-parent {
//   padding-top: 28px;
// }

.no-padding  {
  padding-top: 0px !important;
  @include mq(desktop) {
    padding-top: 12px !important;
  }
}


.gv-subheader {
  padding-left: 10px;
  padding-right: 10px;
  h2 {
    @include fs-titlepiece(3);
    color: $news-red;
    font-size: 32px;
    line-height: 32px;
    font-weight: 600;
    padding-top: 16px;
    padding-bottom: 12px;
    @include mq(leftCol) {
        font-size: 38px;
        line-height: 38px;
        margin-bottom: -40px;
    }
  }


  @include mq(mobileMedium) {
    // height: 140px;
  }

}

.gv-subheader-container {
    position: relative;
    background-image: -webkit-repeating-linear-gradient(top, $neutral-86, $neutral-86 0.0625rem, transparent 0.0625rem, transparent 0.25rem);
    background-image: repeating-linear-gradient(to bottom, $neutral-86, $neutral-86 0.0625rem, transparent 0.0625rem, transparent 0.25rem);
    background-repeat: repeat-x;
    background-position: top;
    -webkit-background-size: 1px 13px;
    background-size: 1px 13px;
    padding: 16px 0 32px 0;
    display: block;
    padding-left: 10px;
    padding-right: 10px;

    &::before {
      background-image: -webkit-repeating-linear-gradient(top, $neutral-86, $neutral-86 0.0625rem, transparent 0.0625rem, transparent 0.25rem);
      background-image: repeating-linear-gradient(to bottom, $neutral-86, $neutral-86 0.0625rem, transparent 0.0625rem, transparent 0.25rem);
      content: "";
      display: block;
      height: 13px;
      width: 200vw;
      left: -100vw;
      position: absolute;
      z-index: -20;
      // top: 0px;

    }

    @include mq(tablet) {
      margin-top: 10px;
      margin-left: 0px;
    }

    @include mq(leftCol) {
      padding-left: 0px;
      padding-right: 0px;
    }
}
