.interactive-atom {

  .inlineShift {
    @include mq(tablet) {
      p {
        margin-left: 320px;
        margin-top: -320px;
      }
    }
  }


.gv-copy {

}


  p {

        font-family: $f-serif-text;
        font-size: 16px;
        line-height: 22px;
        padding-bottom: 10px;

  }

  p {
    a {
      color: #ff5234;
    }
  }

  .gv-main-column.dropcap:first-of-type {
    @include mq(leftCol) {
      margin-top: 6px;
    }
  }






  h2 {
      font-family: $f-serif-headline;
      font-size: 18px;
      line-height: 24px;
      padding-bottom: 10px;
  }

  .dropcap {
    p:first-child:first-letter {
      @include fs-titlepiece(3);
      float: left;
      color: #ff5234;
      font-size: 80px;
      line-height: 60px;
      padding-top: 0px;
      padding-right: 6px;
      background: -webkit-linear-gradient(#f38e17, #f12711);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
     }

  }



//   .dropcap {
//     p:first-child:first-letter {
//       display: inline-block;
//       background-image: url('<%= path %>/assets/dropcap.svg');
//       float: left;
//       background-size: cover;
//       background-repeat: no-repeat;
//       margin-top: 6px;
//       margin-right: 8px;
//       padding-right: 60px;
//       line-height: 90px;
//       font-size: 0px;
//     }
//   }
//
//   @-moz-document url-prefix() {
//     .dropcap {
//       p:first-child::first-letter {
//         background-image: none;
//         font-size: 120px;
//         line-height: 120px;
//         padding-right: 0px;
//         color: #676767;
//       }
// }
// }

  .author {
    padding-top: 6px;
    margin-bottom: 6px;
      p {
        border-bottom: 1px dotted #dcdcdc;
        font-family: $f-serif-headline;
        weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #767676;
      }
  }
}
