<div class="gv-header-wrapper gv-block gv-page-width">
    <!-- <div class="int-desktop-only gv-main-column">
        <Video block={{videoBlock}} serverside={{serverside}} controls="false" loop="true" header="true"></Video>
    </div>
    <div class="int-mobile-only">
        <Image block={{pictureBlock}} serverside={{serverside}}></Image>
    </div> -->

    <div class="gv-header gv-main-column">
      <div class="gv-headline">{{block.headlineLine1}} <br><span>{{block.headlineLine2}}</span></div>
      <!-- <h1 class='gv-headline-seo'>{{block.copy}}</h1> -->
      <!-- <div class="gv-headline__image"></div> -->
      </div>
</div>
<script>
const requireUncached = require('require-uncached');
const Image = requireUncached('../image/render.html');
const Video = requireUncached('../video/index.html');

export default {
    data() {
        return {
            videoBlock: {
                block: "video",
                mobileSrc: "https://interactive.guim.co.uk/2017/11/tower_videos/final/720loop1.mp4",
                desktopSrc: "https://interactive.guim.co.uk/2018/07/china_loops/colour-correction-10-sec_1024_768k.mp4",
                weight: "grid",
                loop: true,
                poster: '<%= path %>/assets/poster2.jpg'
            },
            pictureBlock: {
                "block": "photo",
                "weight": "immersive",
                "mobileSrc": `<%= path %>/assets/mobile-header1500.png`,
                "desktopSrc": `<%= path %>/assets/mobile-header1500.jpg`,
            }
        }
    },
    oncreate() {

    },
    components: {
        Image: Image,
        Video: Video
    },

}
</script>
