// If using looping video //

#bg {
  // position: fixed;
  // top: 0;
  // left: 0;
  //
  // /* Preserve aspet ratio */
  // min-width: 100vw;
  // min-height: 100vh;
}



.gv-header-container {
    height: 90vh;
    position: relative;
    @include mq(tablet) {
      height: 80vh;
    }
    width: 100%;
    overflow: hidden;
}

.gv-header-image-container {
  position: absolute;
  top: 0px;
  height: 90vh;
  @include mq(tablet) {
    height: 80vh;
  }
}

.gv-header-image {
   display: block;
   height: 90vh;
   width: 100vw;
   background-repeat: no-repeat;
   background-size: cover;
  background-position: center;
   background-image: url('<%= path %>/assets/david-island-mobile.jpg');
   mix-blend-mode: screen;
   z-index: 1;
   position: relative;
   // overflow: hidden;
   @include mq(tablet) {
     height: 80vh;
   }
   @include mq(desktop) {
     background-image: url('<%= path %>/assets/david-island.jpg');
   }
}

.gv-header-gradient {
  background:linear-gradient(90deg, #121212,#ff0000,#ffca00 );
  position: absolute;
  background-size: 400% 400%;
  width: 100vw;
  height: 90vh;
  top: 0;
  left: 0;
  right:0;
  bottom: 0;
  z-index: 0;
  animation: AnimationName 10s ease infinite;
  // overflow: hidden;

  @include mq(tablet) {
    height: 80vh;
  }
}

@keyframes AnimationName {
    0%{background-position:0% 29%}
    50%{background-position:100% 72%}
    100%{background-position:0% 29%}
}

// @keyframes AnimationName {
//     0%{background-position:0% 50%}
//     50%{background-position:100% 50%}
//     100%{background-position:0% 50%}
// }

.gv-header-wrapper {
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    @include mq(tablet) {
        height: 580px;
    }


    .video-wrapper {
      padding-bottom: inherit;
      height: inherit;
    }

    .visual-element--video {
        z-index: 0;
        background-color: #333;
        margin: 0 auto;
        max-width: 620px;
        margin-top: 180px;

        video {
            max-height: 100%;
            max-width: 100%;
            object-fit:contain;
            width: 100%;
        }
    }

    .visual-element--image {
        position: relative;
        padding-left: 40px;
        height: 85vh;
        img {
            overflow: hidden;
            position: absolute;
            height: 85vh;
            top: 0px;
            left: 0px;
            width: auto;

            @include mq($from: mobileMedium) {
                left: 0px;
            }

        }
    }
}



.gv-header {
  position: relative;
  margin: 0 auto;
  max-width: 620px;
}

.gv-headline-wrapper {
  top: 0px;
  z-index: 20;
}

.gv-headline {
      @include fs-titlepiece(3);
      font-size: 40px;
      line-height: 1.0;
      z-index: 1000;
      color: $neutral-7;
      z-index: 1;
      background: -webkit-linear-gradient(#FFD856, #ff5234);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      position: absolute;
      top: 6px;

      @include mq(mobileMedium) {
        font-size: 48px;
      }


      @include mq(mobileLandscape) {
        font-size: 60px;
      }

      @include mq(tablet) {
          font-size: 80px;
      }
      @include mq(desktop) {
          font-size: 90px;
          width: 980px;
      }

      @include mq(leftCol) {
        font-size: 100px;
      }

      @include mq(wide) {
        // font-size: 112px;
        line-height: 1.0;
        width: 1060px;
        padding-top: 20px;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      @include mq(ultraWide) {
        font-size: 112px;
      }
    }

    .gv-standfirst {
      @include mq(leftCol) {
        min-height: 100px;
      }
      position: absolute;
      bottom: 0px;
      z-index: 10;

      p {
        @include fs-headline(3);
        font-size: 17px;
        font-weight: 600;
        padding-top: 6px;
        max-width: 100%;
        color: white;
        padding-bottom: 0px;
        @include mq(mobileMedium) {
          @include fs-headline(3);
          font-weight: 600;
          max-width: 320px;
        }
        @include mq(mobilePlus) {
        }
        @include mq(tablet) {
          padding-left: 0px;
          max-width: 420px;
        }
        @include mq(leftCol) {
          font-size: 22px;
          line-height: 26px;
          max-width: 540px;
          &::before {
              content:'';
              border-left: 1px solid $neutral-86;
              display: block;
              position: absolute;
              top: 10px;
              left: -11px;
              height: 400px;
          }
      }
    }

    }

    .android {
      .gv-standfirst {
        bottom: 38px;
      }
    }

    .ios {
      .gv-standfirst {
        bottom: -12px;
      }
    }

    .android, .ios {
      .gv-share {
        display: none;
      }
    }



.gv-header-wrapper::before {}



.gv-headline-seo {
  position: absolute;
  top: -2000px;
  left: -2000px;
}
