.gv-header-wrapper {
    width: 100%;
    min-height: 400px;
    background-color: $neutral-7;
    position: relative;
    z-index: 0;


    &::before {
      background-color: $neutral-7;
      content: "";
      display: block;
      height: 100%;
      width: 200vw;
      left: -100vw;
      position: absolute;
        z-index: -20;

    }
}
.gv-image-wrapper {
    width: 100%;
    min-height: 400px;
    background-color: $highlight-yellow;
    position: relative;
    z-index: -1;



    &::before {
      background-color: $highlight-yellow;
      content: "";
      display: block;
      height: 100%;
      width: 200vw;
      left: -100vw;
      position: absolute;
        z-index: -20;

    }
}

.gv-header {
    position: absolute;
    top: 0;
    z-index: 50;
    width: 100%;
}

.gv-header-wrapper::before {}

.gv-headline__image {
    content: "";
    position: absolute;
    display: block;
    background: url('<%= path %>/assets/header-logo-mobile.svg');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1001;
    width: 106px;
    height: 207px;
    right: 56%;
    top: calc(80vh * (7/16));

    @include mq($from: mobileMedium) {
        width: 126px;
        height: 247px;
    }

    @include mq($from: mobileLandscape) {
        right: 73%;
    }


    @include mq($from: tablet) {
      background: url('<%= path %>/assets/header-logo.svg');
      background-size: cover;
      width: 196px;
      height: 114px;
      top: calc(12vw * (9/16));
      right: 36.5%;
    }

    @include mq($from: desktop) {
        width: 244px;
        height: 140px;
    }
    @include mq($from: leftCol) {
        width: 278px;
        height: 161px;
    }

    @include mq($from: wide) {
        width: 316px;
        height: 183px;
    }
}

.gv-headline {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
  color: #fff;
}
