.visual-element--video {
    overflow: hidden;
    position: relative;
    width: 100%;
    border: 4px solid #EAEAEA;
    background-color: #f6f6f6;
    box-sizing: border-box;
    line-height: 0;
    margin-bottom: 24px !important;

    .gv-header-wrapper & {
        border: 0;
        margin-bottom: 0 !important;
    }

    .gv-page-width & {
        video {
            width: 100%;
            position: absolute;
        }
    }
}

.video-wrapper {
    padding-bottom: 56.25%;
    height: 100%;
}

.g-vam-player-container {
    max-width: 1300px;
    margin: 20px auto;
    position: relative;
    background: #eaeaea;
}


.g-vam-video-player {
    width: 100%;
    padding: 56.25% 0 0 0;
    position: relative;

    video {
        position: absolute;
        top: 0;
        width: 100%;
    }
}

.g-vam-mobile-fallback {
    max-width: 1100px;
    margin: 0 auto;

    margin: 40px 0;
    padding: 10px 0;

    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;

    img {
        width: 100%;
    }
}


.g-vam-video-play {
    position: absolute;
    bottom: 20px;
    left: 20px;

}

.g-vam-video-timer-container {
    position: absolute;
    ;
    bottom: 10px;
    left: 10px;

    @media (min-width: 640px) {
        bottom: 20px;
        left: 20px;
    }
    color: #fff;
    @include fs-textSans(4);
    font-size: 20px;
}

.g-vam-video-btn-label {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;

    &:hover {
    	cursor: pointer;
        color: #ffbb00;
    }
    // .g-vam-video-playing & {
    //     display: none;
    // }

    // .g-vam-video-muted & {
    //     display: inline-block;
    // }
}


.g-video-timer {
    display: inline-block;
    vertical-align: middle;
    overflow: visible;
    width: 40px;
    height: 40px; // @media (min-width:640px) {
    // 	width: 80px;
    // 	height: 80px;
    // }
    transform: rotate(-90deg);
    position: relative;
    circle {
        stroke-width: 5px;
        stroke-dasharray: 314px;
    }

    &:hover {
    	cursor: pointer;
    }
    
    .g-timer-btn-bg {
        fill-opacity: 1;
        fill: #ffbb00;

        .g-vam-video-playing & {
            fill-opacity: .1;
            fill: #161616;
        }

        .g-vam-video-muted.g-vam-video-playing & {
            fill-opacity: 1;
            fill: #ffbb00;
        }
    }
    .g-timer-bg {
        fill-opacity: 0;
        stroke: #ffbb00;
        stroke-width: 4px;
        .g-vam-video-playing & {
            stroke: #ffbb00;
            stroke-opacity: 1;
        }
        .g-vam-video-muted.g-vam-video-playing & {
            stroke: #ffbb00;
            stroke-opacity: 1;
        }
    }
    .g-timer-anim {
        fill-opacity: 0;
        stroke: #161616;
    }
}

.g-icon-pause {
    display: none;
    .g-vam-video-playing & {
        display: block;
    }

    .g-vam-video-playing & {
        fill: #ffbb00;
    }
    .g-vam-video-muted.g-vam-video-playing & {
        fill: #161616;
    }
}

.g-icon-play {
    display: none;
    .g-vam-video-paused & {
        display: block;
    }

    .g-vam-video-playing & {
        fill: #ffbb00;
    }
    .g-vam-video-muted.g-vam-video-playing & {
        fill: #161616;
    }
}