@import "mq";
@import "fonts";
@import "palette";
@import "swiper-min";

// Uncomment for embeds
//@import "embed";

// Uncomment for full screen (including immersive article main media)
//@import "fullscreen";

body {
  background: #fff;
}



.l-footer {
  display: block !important;
}

.element-atom,
.interactive-atom {
    margin: 0 !important;


}

a:any-link {
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

@import "../components/copy/styles";
@import "../components/page/styles";
@import "../components/image/styles";
@import "../components/grid/styles";
@import "../components/header/styles";
@import "../components/headergrid/styles";
@import "../components/subheader/styles";
@import "../components/video/styles";
@import "../components/share/styles";
@import "../components/slider/styles";
@import "../components/carousel/styles";




.interactive-atom {
  overflow: hidden;


    .int-mobile-only {
        @include mq(tablet) {
            display: none;
        }
    }

    .int-desktop-only {
        display: block;
        // height: 100%;
        // width: 100%;
        @include mq($until: tablet) {
            display: none;
        }
    }




	.gv-block {

         position: relative;
         margin: 0;
         padding: 0;
         max-width: none;
         height: auto;


        &.gv-full-width {

        width: 100%;

        &.gv-plus-left-margin {
             @each $bp in (phablet,
        tablet,
        desktop,
        leftCol,
        wide) {
            @include mq($bp) {
                $bpwidth: map-get($mq-breakpoints, $bp);
                margin-left: calc((100% - #{$bpwidth}) / 2);
                width: calc( 100% - ((100% - #{$bpwidth}) / 2));
            }
        }
        }







        }

        &.gv-page-width {

		margin: 0 auto;
		@each $bp in (phablet, tablet, desktop, leftCol, wide) {
        	@include mq($bp) {
            	max-width: map-get($mq-breakpoints, $bp);
        	}
    	}

        }







        .gv-main-column {
            margin: 0 10px;
            max-width: 620px;
            // padding: 0 10px 20px 10px;

            @include mq(mobileLandscape) {
                margin: 0 20px;
            }

            @include mq(phablet) {
                margin: 0 20px;
            }

            @include mq(tablet) {
                margin: 0 0 0 20px;

            }
            @include mq(desktop) {
                margin: 0 0 0 180px;
            }

            @include mq(wide) {
                margin: 0 0 0 260px;
            }

        }

        // badge styling //
        // .gv-main-column {
        //     p:first-child {
        //         @include mq(desktop) {
        //             max-width: 520px;
        //         }
        //         @include mq(leftCol) {
        //             max-width: initial;
        //         }
        //       }
        // }


        .gv-left-column {
            margin: 0px;
            @include mq(desktop) {
              margin: 0 auto;

            }
            @include mq(leftCol) {
            position: absolute;
            left: 10px;
            top: 10px;
            margin: 0;
            width: 150px;

            }
            @include mq(wide) {
                width: 230px;
            }
            &::after {
              @include mq(leftCol) {
                content:'';
                border-right: 1px solid $neutral-86;
                display: block;
                position: absolute;
                top: -10px;
                right: -10px;
                height: 10000px;
              }
            }
        }

        .gv-right-column {


            width: 100%;
        }


	}

}
