.interactive-atom {


// OVERRIDES


.gv-vid-carousel {

  .swiper-container {
    height: 420px;
    // margin-bottom: 20px;
    // overflow: visible!important;
    // padding-top: 0px;
    // padding-bottom: 50px;

    @include mq(mobilePlus) {
         height: 440px;
    }


    @include mq(phabletSmall) {
          height: 550px;
    }
     @include mq(desktop) {
          height: 780px;
    }
    @include mq(leftCol) {
        //  padding-top: 5px;
   }

   .carousel-caption {

  position: relative;
  color: #fff;
  left: 0;
  margin-top: -34px;


  .carousel-caption-firstname, .carousel-caption-lastname {
    @include fs-titlepiece(3);
    font-size: 20px;
    line-height: 24px;
    display:block;
    position: relative;
    margin: 0;
    color: white;

    @include mq(desktop) {
      font-size:50px;
      line-height:54px;
    }

    span {
      background: linear-gradient(#121212, #121212) no-repeat;
      box-shadow: 10px 0 0 #121212, -10px 0 0 #121212;
    }
  }

  .carousel-caption-firstname {
    z-index: 5;
  }

  .carousel-caption-lastname  {
    margin-left: 120px;
    margin-bottom: 6px;
  }
  .carousel-caption-copy {
    @include f-headline;
    font-weight: 200;
    // font-style: normal;
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 12px;
    margin-top: -7px;
    padding-top: 7px;
    padding-left: 120px;
    padding-right: 10px;
    min-height: 132px;
    display: inline-block;
    color: $neutral-7;
    background: white;

    @include mq(phabletSmall) {
      min-height: 88px;
    }

    @include mq(desktop) {
      font-size: 20px;
      line-height: 26px;
      min-height: 104px;
    }

    &:before {
      content: "";
      display: block;
    }
  }
 }

  }

  .swiper-slide {
    @include mq(desktop) {
       width: 620px;
     }
  }



    video {
    width: 100%    !important;
    height: auto   !important;
    background: #000;
    }
  }



}
