.visual-element--image {
    overflow: hidden;
    img {
      width: 100%;
    }
}

.visual-image-2 {
    width: calc(50% - 5px);
    float: left;
    margin-right: 5px;

    @include mq(leftCol) {
        width: calc(50% - 10px);
        margin-right: 10px;
    }
    &:nth-child(even) {
        margin-left: 5px;
        margin-right: 0;
        @include mq(leftCol) {
            margin-left: 10px;
        }
    }
}

.grid-main * {
    line-height: 0;
}